body, html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

/* Scrolling Effect */
.parallax-img1, .parallax-img2, .parallax-img3{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
  fixed = parallax
  scroll = normal
  */
  background-attachment: fixed;
}

/* import images and position them */
.parallax-img1{
  background-image: url('../img/img1.jpeg');
  min-height: 100%;
}

.parallax-img2{
  background-image: url('../img/img2.jpeg');
  min-height: 400px;
}

.parallax-img3{
  background-image: url('../img/img3-3.jpeg');
  min-height: 400px;
}

/* Section Styling */

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color: #ddd;
}


/* paragraph text */
.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border{
  background-color: #111;
  color: white;
  padding: 20px;
  border-radius: 20px;
}

.ptext .border.trans{
  background-color: transparent;
}
